body {
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    position: absolute;
    z-index: 9999;
    display: inline-block;
    box-sizing: border-box;
    -webkit-writing-mode: horizontal-tb;

    margin-left: 5px;
    margin-bottom: 5px;
    left: 0px;
    right: 0px;
    width: 112px;
    height: 30px;
    bottom: 0px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-top: 1px;
    font-size: 15px;

    color: white;
    background-color: rgba(187,101,247,.2);
    text-align: center;
    border:none;

}