body {
    font-family: Arial, Helvetica, sans-serif;
}

#myBtn , #closebtn {
    position: absolute;
    z-index: 9999;
    display: inline-block;
    box-sizing: border-box;
    -webkit-writing-mode: horizontal-tb;
 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    left: 0px;
    right: 0px;
    width: 200px;
    height: 30px;
    bottom: 0px;;
    
    

    color: white;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    border:none;
    text-decoration: none;
    -webkit-border-radius: 12px;
    border: 1px solid rgba(255,255,255,.1);

}

#myBtn {
    font-size: 20px;
    padding-top: 3px;
}



.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 600ms ease-in;
    -moz-transition: opacity 600ms ease-in;
    transition: opacity 600ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 80%;
    max-height: 90%;
    top: 20px;
    bottom: 20px;
    position: relative;
    margin: auto;
    padding: 5px 20px 20px 20px;
    border-radius: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: rgba(255,255,255,.8);
}


.close , #closebtn {
    background: rgba(150,150,150,1);
    color: #FFFFFF;
    position: absolute;
    text-align: center;
    bottom: -15px;
    width: 100%;
    border-radius: 20px;
    font-size: 15px;
    padding-top: 5px;
}

.close:hover { 
    background: rgba(187,101,247); 
}

.a-enter-vr-button {
    display: none;
    -webkit-border-radius: 12px;
    margin-bottom: 10px;
}

#infolinks {
    color: #000000;
}


